@media(max-width: 769px){
    main::after{
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 65%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem{
        height: 85%;
    }

    .conteudo{
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px 4%;
    }

    .conteudo .nome-personagem{
        font-size: 36px;
    }

    .conteudo .descricao{
        max-width: 100%;
    }

    .botoes{
        flex-direction: row;
        align-items: flex-end;
        top: -10%;
        width: 100%;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .botoes .botao img{
        max-width: 60px;
    }
}

@media (max-width: 450px) {
    main .personagem .imagem {
        height: 35vh;
        position: fixed;
    }

    .conteudo .logo {
        width: 170px;
        height: 75px;
        position: fixed;
        top: 0px;
        left: 20px;
    }

    .conteudo .nome-personagem {
        
        position: fixed;
        font-size: 26px;
    }

    .conteudo .descricao{
        width: 90%;
        position: fixed;
        top: 36%;
        font-size: 20px;
        text-align: center;
    }

    .botoes {
        padding: 20px;
        /* top: -550px; */
    }

    .botoes .botao img {
        max-width: 50px;
    }
}

/* Redmi Note 8 (360 x 596) */
@media (max-width: 400px) {
    main .personagem .imagem {
        filter: brightness(75%);
    }

    .conteudo .logo {
        width: 140px;
        height: 70px;
        top: 0px;
        filter: saturate(350%);
    }

    .conteudo .nome-personagem {
        top: 190px;
        font-size: 24px;
    }

    .conteudo .descricao{
        width: 100%;
        padding: 20px 20px 0 20px;
        background-color: rgb(0, 0, 0);
        left: 0;
    }

}

@media (max-width: 320px) {
    .conteudo .logo {
        width: 40%;
    }

    .conteudo .nome-personagem {
        top: 120px;
        font-size: 20px;
    }

    .conteudo .descricao{
        text-align: left;
        font-size: 16px;
    }

    .botoes{
        top: -15px;
    }

}
